button {
    border: none;
    padding: 8px 25px;
    cursor: pointer;
}

.btn {
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s ease;
    background-color: #E3592B;
}

