*{
    box-sizing: border-box;
    margin: 0;
    
}

body{
    scroll-behavior: smooth;
    background-image:  
    linear-gradient(19deg, 
    #f7e8e3 0%, #f8eeeb 35%, #fcf8f7 85%);
    color: #fcfcfc;

    min-height: 100vh;
    text-align: center;
    align-items: center;
    font-family: 'Barlow Condensed', sans-serif;
    background-size: 250% 200%;
    animation: movimiento 7s linear infinite alternate-reverse;
}   

@keyframes movimiento{
    from{
        background-position: 0 0;
    }
    to{
        background-position: 100% 100%;
    }

}


h1{
    font-size: 3em;
    letter-spacing: 5px;
    font-weight: bold;
    color: #fcf8f7;
 }

 
h2{
    font-size: 3em;
    letter-spacing: 5px;
    font-weight: bold;
    color: #E3592B;
}


 
